.portfolioProjectsContainer{
    width: 100vw;
    height: 100vh;
    position: relative;

    .headerSplitShadow{
        filter: drop-shadow(0 6px 5px rgba(128, 128, 128, 0.5));
    }

    .headerSplit{
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 50%, 0 100%, 0 0);
        width: 100vw;
        height: 30px;
        background-color: $primaryColor1;
        position: absolute;
        top: -5px;
        z-index: 10;
    }
}